TELEGRAM_BOT_TOKEN=replace_with_bot_token
TELEGRAM_CHAT_ID=replace_with_chat_id
TELEGRAM_CHAT_IDS=optional_comma_separated_seed_chat_ids
TELEGRAM_SUBSCRIBERS_FILE=telegram_subscribers.json
TELEGRAM_TIMEOUT_SECONDS=10
SCREENER_USERNAME=replace_with_screener_email_or_username
SCREENER_PASSWORD=replace_with_screener_password
